#add-form{
    display: flex;
    height: 82vh;}

#img-download {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items : center;
}

#img-placeholder{
    background: #eee;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    margin-top: 100px; 
    margin-bottom: 50px;
}

#img-placeholder img{
    color: #eee;
    border-radius: 50%;
    height: 250px;
    width: 250px;
}

#img-download #button, #img-download button {
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    width: 200px;
    font-size: 18px;
    line-height: 21px;
    color: #464646;
    cursor: pointer;
}

#ligne{
    background: #CFCFCF;
    width: 1px;
    height: 75%;
    margin-top: 45px;
}

#form{
    flex: 2.5;
    margin: 25px 75px;
    margin-top: 50px;
    position: relative;

}

#form .flex-elements {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    align-items: center;
}

#form div textarea {
    width: 650px;
    height: 50px;
    padding: 13px 10px ;
    box-sizing: border-box;
    resize: none;
    border: 1px solid #ACACAC;
    border-radius: 2px;
}

#form #description-input {
    align-items: flex-start;
}

#form #description-input textarea{
    height : 135px;
}

#form div p{
    font-weight: 300;
    font-size: 24px;
    color: #2b2b2b;
}


#select{
    display: flex;
    align-items: center;
    margin-top: 15px;

}

select{
    background: #FBFBFB;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    border: none;
    font-size: 18px;
    color: #646464;
    appearance: none;
    cursor: pointer;
    width: 150px;
    height: 40px;
    padding-left: 10px;
}

select:hover{
    background: #eee;
}

input{
    border: 1px solid #DCDCDC;
    box-sizing: border-box;
    border-radius: 2px;
    width: 125px;
    height: 40px;
    color: #646464; 
    font-weight: 300;
    font-size: 18px;
    padding-left: 10px;
    margin-left: 10px;
}

#book-img:hover {
    cursor: pointer;
}


#form button {
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    font-size: 18px;
    padding: 10px 10px;
    width: 75px;
color: #646464;
position: absolute;
right: 0;
margin-top: 5px;
}